@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

*,*::after,*::before {
    box-sizing: border-box;
    font-family: 'Montaga', serif;
    font-weight: 500;
    color: var(--cl--2--);
}

.us-header {
    width: 100% ;
    margin: 0 auto;
    text-align: center;
    position: sticky;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  --cl--1--: #ffffff;
  --cl--2--: #2b1105;
  --cl--3--: #121280;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: clamp(50px, 10vw, 100px);
    line-height: clamp(65px, 10vw, 105px);
}

h2 {
    font-size: clamp(30px, 5vw, 40px);
    line-height: clamp(65px, 10vw, 45px);
    text-transform: capitalize;
}

h3 {
    font-size: clamp(25px, 5vw, 35px);
    line-height: clamp(30px, 10vw, 45px);
    text-transform: capitalize;
}

h4 {
    font-size: clamp(15px, 5vw, 20px);
    line-height: clamp(20px, 10vw, 25px);
    text-transform: capitalize;
}

p {
    font-size: 15px;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

video {
    min-width: 500px
}

.row {
    display:flex;
}

.flex {
    flex-wrap: wrap;
    align-items: center;
}

.flex>* {
    flex: 1 1 25em;
}

.column {
    display: grid;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

/* navigation */
header {
    position: sticky;
    top: 0;
    background: var(--cl--1--);
    z-index: 1000;
}

.time {
    margin-right: 15px;
}

.logo {
    height:150px;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
}

nav {
    flex-grow: 1;
}

nav ul {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

nav a, footer a {
    font-size: 20px;
    text-transform: capitalize;
}

nav a:hover, footer a:hover {
    color: var(--cl--3--);
}
/* navigation end */

/* hero section */

.hero {
    position:relative;
    overflow: hidden;
    text-align: center;
    
}

.hero video {
    max-width: 100%;

}

.hero-content {
    align-items: center;
    padding: 180px 0px;
}

.hero h2 {
    color: var(--cl--3--);
    padding: 0 0;
}

.hero h1 {
    padding: 0.2em 0;
}

.hero h1 span {
    color: var(--cl--3--);
}

.mySwiper img {
    max-height: 200px;
    width: 100%;
}

/* end of hero section */

/* media */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1120px;
    }
}

@media screen and (min-width:1000px) {


    .headline {
        font-style: italic;
        color: var(--cl--3--);
        font-size: 4em;
    }
    
    html {
        align-items: center;
    }
    .mobile {
        display: none;
    }

    .mySwiper img {
        max-height: 200px;
        width: 100%;
    }

    .hero video {
        position: absolute;
        inset: 0;
        margin: 0 auto;
        opacity: 0.34;
    }

    .story-content::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 5px;
        height: 20%;
        background: var(--cl--1--);
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

        .itinerary .container {
            max-width: 800px;
        }

        .container div {
            padding: 10px;
        }


        .rsvp p {
            max-width: 700px;
        }

        .rsvp div {
            width: 700px;
        }

}
@media screen and (max-width:1000px) {
    .desktop {
        display: none;
    }
    .hero-content {
        padding: 0;
    }

    .header {
        padding: 0 50px;
    }


    .hero video {
        position: absolute;
        inset: 0;
        margin: 0 auto;
        opacity: 0.34;
    }

    .container div {
        padding: 10px;
    }

    .container h5 {
        margin-left: -15px;
    }

    .toggleMenu {
        background-image: url(./img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
        -webkit-transition: background-size 0.3s ease-in-out;
        -moz-transition: background-size 0.3s ease-in-out;
        -ms-transition: background-size 0.3s ease-in-out;
        -o-transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        right: 5%;
        background-image: url(/img/close.png);
        background-size: 25px;
    }

    .navigation {
        position: absolute;
        inset: 0;
        min-height: 0;
        opacity: 0;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    .navigation.active {
        position: fixed;
        min-height: 100%;
        opacity: 1;
        background: var(--cl--1--);
        z-index: 999;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    nav.navigation.row.active {
        max-width: 100%;
    }

    nav.active {
        max-width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    img {
        max-width: 100%;
    }

    .headline {
        font-style: italic;
        color: var(--cl--3--);
        font-size: 3em;
    }
}

.rsvp div {
    width: 100%;
}


/* end of media */

/* story */


.story {
    padding: 1em 0;
    

}

/* story end */

.story-content {
    position: relative;
}

.story .flex+.flex{
    padding-top: 1em;
}

.story h1 {
    text-align: center;
}

.story h5 {
    color: var(--cl--3--);
}

.story h2 {
    padding: 0.2em 0;
}

.story img {
    object-fit: cover;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 0% 50% 0%;
    -moz-border-radius: 50% 50% 0% 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
}


/* end of story */

/* venue */
.venue-content {
    margin: 1em 0;
    font-size: 1.2rem;
    text-align: center;
}

.venue{
    margin: 1em 0;
    overflow: hidden;
}

.venue h5, .time h5, .itinerary h5, .form span {
    color: var(--cl--3--);
    font-size: 2rem;
}

.venue h2 {
    padding: 0.2em 0;
}

.venue-content div {
    padding-top: 0.3em;
}

.venue-content div p {
    padding-top: 0.3em;
}

.mySwiper img {
    position: relative;
}




/* accommodation */
.itinerary,
.registry {
    padding: 1em 0;
}

.itinerary h2, .rsvp h2 {
    text-align: center;
}

.itinerary .filter-cards {
    padding-top: 2em;
}

.itinerary .filter-cards .row {
    align-items: flex-start;
    gap: clamp(2em, 5vw, 5em) 
}

.itinerary .filter-cards .row>* {
    flex: 1 1 20em;
}

.time {
    max-width: 50px;
}

.itinerary {
    padding-top: 0.5em;
}


/* end of accommodation */

/* itinerary */

.itinerary .filter-btns {
    align-items: center;
    gap: 3em;
    padding: 1em 0;
    max-width: max-content;
    overflow-x: scroll;
    margin: 0 auto;
}

.itinerary .filter-btns::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.itinerary .filter-cards {
    padding-top: 2em;
}

.itinerary .filter-cards .row {
    align-items: flex-start;
    gap: clamp(2em, 5vw, 5em);
}

.itinerary .filter-cards .row>* {
    flex: 1 1 20em;
}

.time {
    max-width: 50px;
}

.itinerary p+h3 {
    padding-top: 0.5em;
}

.itinerary p {
    padding-top: 0.5em;
}
/* end of itinerary */


/* Form */
.rsvp {
    background: linear-gradient(-90, rgba(252, 249, 247));
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 300px;
    padding: 1em 0;
}

.rsvp p {
    padding-top: 0.5em;
    margin: 0 auto;
}

.form .input {
    flex-direction: column;
}

.form {
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em 0;
}


.form label {
    display: inline-block;
    padding-bottom: 0.5em;
}

.form .input {
    border: 1px solid var(--cl--2--);
    outline: 0;
    max-width: 100%;
    padding: 0.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input .option {
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.option .row {
    position: relative;
    align-items: center;
    text-transform: capitalize;
    font-size: 16px;
    gap: 0.3em;
    padding: 0.5em;
    cursor: pointer;
}

button {
    max-width: max-content;
    margin: 0 auto;
}

/* sights */
.sights swiper-container {
    width: 350px;
    height: 250px;
  }

  .sights swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sights  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* sights */
/* End of Form */

/* footer */
    footer {
        padding: 2em 0;
    }

    footer ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }


/* end of footer */
